<li *ngIf="server"
  class="list-group-item d-flex justify-content-between align-items-center">
  <ul class="list-inline">
    <li class="list-inline-item">
      <ando-steam-connect-link>
        {{ server.status.hostname ? server.status.hostname : server.name }}
      </ando-steam-connect-link>
    </li>
    <li class="list-inline-item" *ngIf="server.state === 'Running'">
      <span class="server-status">
        {{ server.status.map }} {{ server.status.playerCount }}/{{ server.status.maxPlayers }}
      </span>
    </li>
  </ul>
  <span class="badge"
    [ngClass]="{
      'badge-secondary': server.state === 'Offline',
      'badge-success': server.state === 'Running',
      'badge-light': server.state === 'Starting',
      'badge-dark': server.state === 'ShuttingDown',
      'badge-danger': server.state === 'Crashed'
    }"
  >
    {{ stateText(server.state) }}
  </span>
</li>
