<li *ngIf="server"
  class="list-group-item d-flex justify-content-between align-items-center">
  <ul class="list-inline">
    <li class="list-inline-item">
      {{ server.status ? server.status.hostname : server.name }}
    </li>
    <li class="list-inline-item" *ngIf="server.status">
      <span class="server-status">
        {{ server.status.map }} {{ server.status.playerCount }}/{{ server.status.maxPlayers }}
      </span>
    </li>
  </ul>

  <span>
    <ando-server-status-badge [server]="server"></ando-server-status-badge>
    <ando-server-connect-badge [server]="server" class="ml-1"></ando-server-connect-badge>
  </span>
</li>
