<header>
  <nav class="navbar navbar-dark bg-dark shadow-sm mb-2">
    <span class="navbar-brand">melkor.tf servers</span>
    <span class="navbar-text">
      <a href="https://github.com/melkortf"><img src="assets/github-circle.svg"></a>
      <a href="https://steamcommunity.com/id/nieduzy/home/"><img src="assets/steam.svg"></a>
    </span>
  </nav>
</header>

<main role="main" class="container">
  <div class="container mt-3">
    <ando-morgoth-error-alert></ando-morgoth-error-alert>
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer bg-light text-secondary">
  <div class="container">
    <ando-daemon-status></ando-daemon-status>
  </div>
</footer>
